@inherits StatefulComponent<ListPageState>

<div class="container">
    @if (this.State.Value.IsLoading)
    {
        <MudProgressCircular
            Indeterminate="true"
            Color="Color.Primary"
            Size="Size.Large"
            Class="loading-circle"
        />
    } else if (this.State.Value.Problem is not null)
    {
        <ApiProblemAlert
            Problem="@this.State.Value.Problem"
            Text="ListComponent.Problem.LoadingListFailed"
            TryAgain="@this.FetchList"
            Class="problem-alert"
        />
    } else
    {
        var selectedItem = this.State.Value.SelectedItem;

        <MudDataGrid
            @ref="this.DataGridRef"
            id="list-grid"
            VirtualizeServerData="this.ServerDataFunc"
            SelectedItemChanged="@((ListItemModel item) => this.SelectItem(item))"
            RowClassFunc="@((item, index) => "list-row" + (item == selectedItem ? " selected-row" : ""))"
            RowStyleFunc="@((item, index) => $"--cell-color: {item.Color}")"
            HeaderClass="list-header"
            SortMode="SortMode.None"
            Virtualize="true"
            Filterable="false"
            FixedHeader="true"
            Height="100%"
            ItemSize="this.ItemHeight"
            Dense="true"
            Hover="true"
            Class="list"
        >
            <Columns>
                <MudBlazor.TemplateColumn
                    Title="@this.Loc["ListComponent.List.Number"]"
                    CellClass="cell-content number"
                >
                    <CellTemplate>
                        @if (context.Item.Type != ListItemType.Franchise &&
                            context.Item.FranchiseItem is { } franchiseItem)
                        {
                            @if (franchiseItem.DisplayNumber is not null)
                            {
                                @if (franchiseItem.IsLooselyConnected)
                                {
                                    @($"({franchiseItem.DisplayNumber})")
                                } else
                                {
                                    @franchiseItem.DisplayNumber
                                }
                            } else
                            {
                                @("-")
                            }
                        }
                    </CellTemplate>
                </MudBlazor.TemplateColumn>

                <MudBlazor.PropertyColumn
                    Title="@this.Loc["ListComponent.List.Title"]"
                    Property="@(item => item.Title)"
                    CellClass="cell-content title"
                />

                <MudBlazor.PropertyColumn
                    Title="@this.Loc["ListComponent.List.OriginalTitle"]"
                    Property="@(item => item.OriginalTitle)"
                    CellClass="cell-content title"
                />

                <MudBlazor.TemplateColumn Title="@this.Loc["ListComponent.List.Year"]" CellClass="cell-content year">
                    <CellTemplate>
                        @if (context.Item.StartYear == context.Item.EndYear)
                        {
                            @context.Item.StartYear
                        } else
                        {
                            @context.Item.StartYear
                            <br />
                            @context.Item.EndYear
                        }
                    </CellTemplate>
                </MudBlazor.TemplateColumn>
            </Columns>

            <LoadingContent>
                <MudProgressCircular
                    Indeterminate="true"
                    Color="Color.Primary"
                    Size="Size.Large"
                    Class="loading-circle"
                />
            </LoadingContent>

            <RowLoadingContent>
                <tr class="mud-table-row loader-row">
                    <td class="mud-table-cell cell-content number loader-cell">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="loader-skeleton" />
                    </td>
                    <td class="mud-table-cell cell-content title loader-cell">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="loader-skeleton" />
                    </td>
                    <td class="mud-table-cell cell-content title loader-cell">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="loader-skeleton" />
                    </td>
                    <td class="mud-table-cell cell-content year loader-cell">
                        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Class="loader-skeleton" />
                    </td>
                </tr>
            </RowLoadingContent>
        </MudDataGrid>
    }
</div>
