@inherits StatefulComponent<MovieFormState>

<div class="d-flex flex-column h-100">
    <div class="d-flex flex-row justify-content-between">
        <div></div>
        <div></div>
        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" Click="this.Close"
                      class="my-2" />
    </div>

    @if (this.State.Value.IsLoading)
    {
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" class="mt-4" />
    } else if (this.State.Value.FetchMovieProblem is not null)
    {
        <ApiProblemAlert Text="@this.Loc["MovieForm.Problem.LoadingFailed"]" TryAgain="@this.FetchMovie"
                         Problem="@this.State.Value.FetchMovieProblem" Class="w-100 m-4" />
    } else
    {
        <h1 style="font-weight: 300">
            @(!String.IsNullOrEmpty(this.FormTitle) || this.ListItem != null
                ? this.FormTitle
                : this.Loc["MovieForm.NewMovie"])
        </h1>

        <div class="w-100 h-100 d-flex flex-column justify-content-between">
            <div class="h-100">
                <div class="d-md-flex justify-content-md-center mt-2">
                    @if (!String.IsNullOrEmpty(this.ImdbId))
                    {
                        <RadzenLink Path="@($"https://www.imdb.com/title/{this.ImdbId}")" Text="@this.Loc["Link.Imdb"]"
                                    class="@($"{(!String.IsNullOrEmpty(this.RottenTomatoesLink) ? "me-md-2" : "")}")"
                                    target="_blank" />
                    }

                    @if (!String.IsNullOrEmpty(this.RottenTomatoesLink))
                    {
                        <RadzenLink Path="@this.RottenTomatoesLink" Text="@this.Loc["Link.RottenTomatoes"]"
                                    class="@($"{(!String.IsNullOrEmpty(this.ImdbId) ? "me-md-2" : "")}")"
                                    target="_blank">
                        </RadzenLink>
                    }
                </div>

                <div class="d-md-flex justify-content-md-center mt-2">
                    <div class="me-md-1">
                        <RadzenCheckBox @bind-Value="@this.IsWatched" Disabled="@(!this.CanChangeIsWatched)"
                                        Change="@((bool value) => this.OnIsWatchedChanged())"
                                        Name="IsWatchedCheckBox" />
                        <RadzenLabel Text="@this.Loc["MovieForm.IsWatched"]" Component="IsWatchedCheckBox" />
                    </div>
                    <div class="ms-md-1">
                        <RadzenCheckBox @bind-Value="@this.IsReleased" Disabled="@(!this.CanChangeIsReleased)"
                                        Change="@((bool value) => this.OnIsReleasedChanged())"
                                        Name="IsReleasedCheckBox" />
                        <RadzenLabel Text="@this.Loc["MovieForm.IsReleased"]" Component="IsReleasedCheckBox" />
                    </div>
                </div>

                <RadzenLabel Text="@this.Loc["MovieForm.Titles"]" class="mt-2" />
                <TitlesForm @ref="this.TitlesForm" Titles="@this.Titles" Validator="@this.TitlesValidator"
                            FirstTitleChanged="@this.UpdateFormTitle" />

                <RadzenLabel Text="@this.Loc["MovieForm.OriginalTitles"]" class="mt-2" />
                <TitlesForm @ref="this.OriginalTitlesForm" Titles="@this.OriginalTitles"
                            Validator="@this.OriginalTitlesValidator" />

                <div class="row mt-2">
                    <div class="col-md pe-md-1">
                        <RadzenLabel Text="@this.Loc["MovieForm.Year"]" Component="YearNumeric" />
                        <RadzenNumeric @bind-Value="this.Year" Change="@((int year) => this.OnYearChanged())"
                                       Name="YearNumeric" />
                        <FormValidator Validator="@this.YearValidator" Value="@this.Year" />
                    </div>
                    <div class="col-md ps-md-1">
                        <RadzenLabel Text="@this.Loc["MovieForm.Kind"]" Component="KindDropDown" />
                        <RadzenDropDown @bind-Value="@this.Kind" Data="@this.State.Value.AvailableKinds"
                                        AllowVirtualization="false" AllowClear="false" AllowFiltering="false"
                                        Name="KindDropDown" TextProperty="Name" />
                    </div>
                </div>

                <RadzenLabel Text="@this.Loc["MovieForm.ImdbId"]" Component="ImdbIdTextBox" class="mt-1" />
                <RadzenTextBox @bind-Value="@this.ImdbId" Name="ImdbIdTextBox" class="w-100" />
                <FormValidator Validator="@this.ImdbIdValidator" Value="@this.ImdbId" />

                <RadzenLabel Text="@this.Loc["MovieForm.RottenTomatoesLink"]" Component="RottenTomatoesTextBox"
                             class="mt-2" />
                <RadzenTextBox @bind-Value="@this.RottenTomatoesLink" Name="RottenTomatoesTextBox" class="w-100" />
                <FormValidator Validator="@this.RottenTomatoesLinkValidator" Value="@this.RottenTomatoesLink" />

                <div class="d-flex justify-content-center">
                    <div class="mt-2" style="display: inline-grid; grid-template-columns: 1fr 1fr">
                        <RadzenButton Text="@this.Loc["MovieForm.AddTitle"]" ButtonStyle="ButtonStyle.Secondary"
                                      Click="@(e => this.AddTitle(this.Titles))" class="d-inline-block me-1" />
                        <RadzenButton Text="@this.Loc["MovieForm.AddOriginalTitle"]" ButtonStyle="ButtonStyle.Secondary"
                                      Click="@(e => this.AddTitle(this.OriginalTitles))" class="d-inline-block ms-1" />
                    </div>
                </div>

                @if (this.ListItem is not null)
                {
                    <div class="d-flex justify-content-center mt-4">
                        <RadzenButton Text="@this.Loc["Button.Delete"]" ButtonStyle="ButtonStyle.Danger"
                                      Click="@this.Delete" />
                    </div>
                }
            </div>

            @if (this.State.Value.IsCreatingMovie)
            {
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" class="mt-4" />
            } else if (this.State.Value.CreateMovieProblem is not null)
            {
                <ApiProblemAlert Text="@this.Loc["MovieForm.Problem.CreatingFailed"]" TryAgain="@this.Save"
                                 Problem="@this.State.Value.CreateMovieProblem" Class="w-100 m-4" />
            }

            @if (this.State.Value.IsUpdatingMovie)
            {
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" class="mt-4" />
            } else if (this.State.Value.UpdateMovieProblem is not null)
            {
                <ApiProblemAlert Text="@this.Loc["MovieForm.Problem.UpdatingFailed"]" TryAgain="@this.Save"
                                 Problem="@this.State.Value.UpdateMovieProblem" Class="w-100 m-4" />
            }

            @if (this.State.Value.IsDeletingMovie)
            {
                <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" class="mt-4" />
            } else if (this.State.Value.DeleteMovieProblem is not null)
            {
                <ApiProblemAlert Text="@this.Loc["MovieForm.Problem.DeletingFailed"]" TryAgain="@this.Delete"
                                 Problem="@this.State.Value.DeleteMovieProblem" Class="w-100 m-4" />
            }

            <div class="d-flex flex-row my-2">
                <RadzenButton Text="@this.Loc["Button.Save"]" ButtonStyle="ButtonStyle.Primary"
                              Click="@this.Save" class="me-1" />
                <RadzenButton Text="@this.Loc["Button.Cancel"]" ButtonStyle="ButtonStyle.Secondary"
                              Click="@this.Cancel" class="ms-1" />
            </div>
        </div>
    }
</div>
