@inherits FluxorComponent
@inject IState<MovieFormState> State
@inject IDispatcher Dispatcher
@inject IStringLocalizer<Resources> Loc

<div class="d-flex flex-column h-100">
    <div class="d-flex flex-row justify-content-between">
        <div></div>
        <div></div>
        <RadzenButton Icon="close" ButtonStyle="ButtonStyle.Light" Size="ButtonSize.Small" Click="this.Close"
                      class="my-2" />
    </div>

    @if (this.State.Value.IsLoading)
    {
        <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" class="mt-4" />
    } else if (this.State.Value.Problem is not null)
    {
        <ApiProblemAlert Text="@this.Loc["MovieForm.Problem.LoadingFailed"]" Problem="this.State.Value.Problem"
                         Class="w-100 m-4" TryAgain="this.FetchMovie" />
    } else if (this.State.Value.MovieModel is { } movie)
    {
        <h1 style="font-weight: 300">
            @(!String.IsNullOrEmpty(this.FormTitle) || this.ListItem != null
                ? this.FormTitle
                : this.Loc["MovieForm.NewMovie"])
        </h1>

        <div class="w-100 h-100 d-flex flex-column justify-content-between">
            <div class="h-100">
                <div class="d-md-flex justify-content-md-center mt-2">
                    <div class="me-md-1">
                        <RadzenCheckBox @bind-Value="@this.IsWatched" Name="IsWatchedCheckBox" />
                        <RadzenLabel Text="@this.Loc["MovieForm.IsWatched"]" Component="IsWatchedCheckBox" />
                    </div>
                    <div class="ms-md-1">
                        <RadzenCheckBox @bind-Value="@this.IsReleased" Name="IsReleasedCheckBox" />
                        <RadzenLabel Text="@this.Loc["MovieForm.IsReleased"]" Component="IsReleasedCheckBox" />
                    </div>
                </div>

                <RadzenLabel Text="@this.Loc["MovieForm.Titles"]" class="mt-2" />
                <TitlesForm Titles="@this.Titles" Validator="@this.TitlesValidator" />

                <RadzenLabel Text="@this.Loc["MovieForm.OriginalTitles"]" class="mt-2" />
                <TitlesForm Titles="@this.OriginalTitles" Validator="@this.OriginalTitlesValidator" />

                <div class="row mt-2">
                    <div class="col-md pe-md-1">
                        <RadzenLabel Text="@this.Loc["MovieForm.Year"]" Component="YearNumeric" />
                        <RadzenNumeric @bind-Value="this.Year" Name="YearNumeric" />
                        <FormValidator Validator="@this.YearValidator" Value="@this.Year" />
                    </div>
                    <div class="col-md ps-md-1">
                        <RadzenLabel Text="@this.Loc["MovieForm.Kind"]" Component="KindDropDown" />
                        <RadzenDropDown @bind-Value="@this.Kind" Data="this.State.Value.AvailableKinds"
                                        AllowVirtualization="false" AllowClear="false" AllowFiltering="false"
                                        Name="KindDropDown" TextProperty="Name" />
                    </div>
                </div>

                <RadzenLabel Text="@this.Loc["MovieForm.ImdbId"]" Component="ImdbIdTextBox" class="mt-2" />
                <RadzenTextBox @bind-Value="@this.ImdbId" Name="ImdbIdTextBox" class="w-100" />
                <FormValidator Validator="@this.ImdbIdValidator" Value="@this.ImdbId" />

                <RadzenLabel Text="@this.Loc["MovieForm.RottenTomatoesLink"]" Component="RottenTomatoesTextBox"
                             class="mt-2" />
                <RadzenTextBox @bind-Value="@this.RottenTomatoesLink" Name="RottenTomatoesTextBox" class="w-100" />
                <FormValidator Validator="@this.RottenTomatoesLinkValidator" Value="@this.RottenTomatoesLink" />

                <div class="d-flex justify-content-center">
                    <div class="mt-2" style="display: inline-grid; grid-template-columns: 1fr 1fr">
                        <RadzenButton Text="@this.Loc["MovieForm.AddTitle"]" ButtonStyle="ButtonStyle.Secondary"
                                      Click="@(e => this.AddTitle(this.Titles))" class="d-inline-block me-1" />
                        <RadzenButton Text="@this.Loc["MovieForm.AddOriginalTitle"]" ButtonStyle="ButtonStyle.Secondary"
                                      Click="@(e => this.AddTitle(this.OriginalTitles))" class="d-inline-block ms-1" />
                    </div>
                </div>
            </div>

            <div class="d-flex flex-row my-2">
                <RadzenButton Text="@this.Loc["Button.Save"]" ButtonStyle="ButtonStyle.Primary"
                              Click="@this.Save" class="me-1" />
                <RadzenButton Text="@this.Loc["Button.Cancel"]" ButtonStyle="ButtonStyle.Secondary"
                              Click="@this.Cancel" class="ms-1" />
            </div>
        </div>
    }
</div>

@code {
    [Parameter]
    public ListItemModel? ListItem { get; set; }

    [Parameter]
    public EventCallback Close { get; set; }

    private string FormTitle { get; set; } = String.Empty;

    private ObservableCollection<string> Titles { get; set; } = new();
    private ObservableCollection<string> OriginalTitles { get; set; } = new();

    private bool IsWatched { get; set; }
    private bool IsReleased { get; set; }

    private int Year { get; set; }

    private SimpleKindModel? Kind { get; set; }

    private string ImdbId { get; set; } = String.Empty;
    private string RottenTomatoesLink { get; set; } = String.Empty;

    private PropertyValidator<MovieRequest, ImmutableList<TitleRequest>>? TitlesValidator { get; set; }
    private PropertyValidator<MovieRequest, ImmutableList<TitleRequest>>? OriginalTitlesValidator { get; set; }
    private PropertyValidator<MovieRequest, int>? YearValidator { get; set; }
    private PropertyValidator<MovieRequest, string>? ImdbIdValidator { get; set; }
    private PropertyValidator<MovieRequest, string>? RottenTomatoesLinkValidator { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        this.InitializeValidators();

        this.SetPropertyValues();
        this.SubscribeToAction<ResultAction<MovieModel>>(action => this.SetPropertyValues());
    }

    private void InitializeValidators()
    {
        var validator = MovieRequest.CreateValidator();

        this.TitlesValidator = PropertyValidator.Create(validator, (MovieRequest req) => req.Titles, this.Loc);

        this.OriginalTitlesValidator = PropertyValidator.Create(
            validator, (MovieRequest req) => req.OriginalTitles, this.Loc);

        this.YearValidator = PropertyValidator.Create(validator, (MovieRequest req) => req.Year, this.Loc);

        this.ImdbIdValidator = PropertyValidator.Create(validator, (MovieRequest req) => req.ImdbId, this.Loc);

        this.RottenTomatoesLinkValidator = PropertyValidator.Create(
            validator, (MovieRequest req) => req.RottenTomatoesLink, this.Loc);
    }

    private void FetchMovie()
    {
        if (this.ListItem != null)
        {
            this.Dispatcher.Dispatch(new FetchMovieAction(this.ListItem.Id));
        }
    }

    private void SetPropertyValues()
    {
        var movie = this.State.Value.MovieModel;

        this.Titles = movie?.Titles?.Select(title => title.Name)?.ToObservableCollection() ?? new();
        this.OriginalTitles = movie?.OriginalTitles?.Select(title => title.Name)?.ToObservableCollection() ?? new();
        this.IsWatched = movie?.IsWatched ?? false;
        this.IsReleased = movie?.IsReleased ?? true;
        this.Year = movie?.Year ?? DateTime.Now.Year;
        this.Kind = movie?.Kind;
        this.ImdbId = movie?.ImdbId ?? String.Empty;
        this.RottenTomatoesLink = movie?.RottenTomatoesLink ?? String.Empty;

        this.UpdateFormTitle();
    }

    private void AddTitle(ObservableCollection<string> titles) =>
        titles.Add(String.Empty);

    private void UpdateTitle(string title, int index)
    {
        this.Titles[index] = title;

        if (index == 0)
        {
            this.UpdateFormTitle();
        }
    }

    private void UpdateOriginalTitle(string title, int index) =>
        this.OriginalTitles[index] = title;

    private void UpdateFormTitle() =>
        this.FormTitle = this.Titles.FirstOrDefault() ?? String.Empty;

    private void Save() =>
        this.FormTitle = $"Saved {this.FormTitle}";

    private void Cancel() =>
        this.SetPropertyValues();
}
