@inherits PosterCineasteForm<SeriesFormModel, SeriesRequest, SeriesModel, SeriesFormState>

<FormParamsProvider For="this">
    <div class="container list-sidebar">
        <div class="form-header">
            @if (!this.FormModel.IsNew && !this.FormModel.HasChanges && this.FormModel.ParentFranchiseId is not null)
            {
                <MudIconButton
                    Icon="@Icons.Material.Filled.KeyboardArrowUp"
                    Size="Size.Small"
                    @onclick="this.GoToParentFranchise"
                    aria-label="@this.Loc["AriaLabel.Up"]"
                />

                <div class="go-to-other-components-container">
                    <MudIconButton
                        Icon="@Icons.Material.Filled.KeyboardArrowLeft"
                        Size="Size.Small"
                        Class="@(this.FormModel.IsFirst ? "invisible" : null)"
                        @onclick="this.GoToPreviousComponent"
                        aria-hidden="@this.FormModel.IsFirst"
                        aria-label="@this.Loc["AriaLabel.Previous"]"
                    />

                    <MudIconButton
                        Icon="@Icons.Material.Filled.KeyboardArrowRight"
                        Size="Size.Small"
                        Class="@(this.FormModel.IsLast ? "invisible" : null)"
                        @onclick="this.GoToNextComponent"
                        aria-hidden="@this.FormModel.IsLast"
                        aria-label="@this.Loc["AriaLabel.Next"]"
                    />
                </div>
            } else
            {
                <div></div>
                <div></div>
            }

            <MudIconButton
                Icon="@Icons.Material.Filled.Close"
                Size="Size.Small"
                @onclick="this.Close"
                aria-label="@this.Loc["AriaLabel.Close"]"
            />
        </div>

        @if (this.State.Value.Fetch.IsInProgress)
        {
            <MudProgressCircular Indeterminate="true" Color="Color.Primary" Class="loading-circle" />
        } else if (this.State.Value.Fetch.Problem is not null)
        {
            <ApiProblemAlert
                Problem="@this.State.Value.Fetch.Problem"
                Text="SeriesForm.Problem.LoadingFailed"
                TryAgain="@this.FetchSeries"
                Class="problem-alert main"
            />
        } else
        {
            <div class="form-container list-sidebar">
                <h2 class="form-title">
                    @(!String.IsNullOrEmpty(this.FormTitle) || this.ListItem is not null
                        ? this.FormTitle
                        : this.Loc["SeriesForm.NewSeries"])
                </h2>

                <div class="form">
                    @if (this.FormModel.BackingModel is { PosterUrl: string posterUrl })
                    {
                        <img src="@posterUrl" alt="@this.FormTitle" title="@this.FormTitle" class="poster" />
                    }

                    <div class="form-links">
                        @if (this.HasImdbId())
                        {
                            string href = String.Format(this.Loc["Link.ImdbUrlFormat"], this.FormModel.ImdbId);

                            <MudLink Href="@href" Target="_blank">
                                @this.Loc["Link.Imdb"]
                            </MudLink>
                        }

                        @if (this.HasRottenTomatoesId())
                        {
                            string href = String.Format(
                                this.Loc["Link.RottenTomatoesUrlFormat"],
                                this.FormModel.RottenTomatoesId);

                            <MudLink Href="@href" Target="_blank">
                                @this.Loc["Link.RottenTomatoes"]
                            </MudLink>
                        }
                    </div>

                    <TitlesForm
                        Titles="@this.FormModel.Titles"
                        Label="SeriesForm.Title"
                        PropertyName="@nameof(this.FormModel.Titles)"
                    />

                    <TitlesForm
                        Titles="@this.FormModel.OriginalTitles"
                        Label="SeriesForm.OriginalTitle"
                        PropertyName="@nameof(this.FormModel.OriginalTitles)"
                    />

                    <div class="form-statuses">
                        <div>
                            <MudSelect
                                @bind-Value="this.FormModel.WatchStatus"
                                Label="@this.Loc["SeriesForm.WatchStatus"]"
                                Class="select form-field"
                            >
                                @foreach (var status in this.AllWatchStatuses)
                                {
                                    <MudSelectItem Value="status">
                                        @this.Loc[$"SeriesForm.WatchStatus.{status}"]
                                    </MudSelectItem>
                                }
                            </MudSelect>

                            <ErrorPresenter ErrorCode="Series.WatchStatus.*" Trigger="@this.StatusErrorTrigger" />
                        </div>

                        <div>
                            <MudSelect
                                @bind-Value="this.FormModel.ReleaseStatus"
                                Label="@this.Loc["SeriesForm.ReleaseStatus"]"
                                Class="select form-field"
                            >
                                @foreach (var status in this.AllReleaseStatuses)
                                {
                                    <MudSelectItem Value="status">
                                        @this.Loc[$"SeriesForm.ReleaseStatus.{status}"]
                                    </MudSelectItem>
                                }
                            </MudSelect>

                            <ErrorPresenter ErrorCode="Series.ReleaseStatus.*" Trigger="@this.StatusErrorTrigger" />
                        </div>
                    </div>

                    <div>
                        <MudSelect
                            @bind-Value="this.FormModel.Kind"
                            Label="@this.Loc["SeriesForm.Kind"]"
                            Class="form-field"
                        >
                            @foreach (var kind in this.AvailableKinds)
                            {
                                <MudSelectItem Value="kind">
                                    @kind.Name
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </div>

                    <MudDataGrid
                        @ref="this.ComponentGrid"
                        Items="this.FormModel.Components"
                        SelectedItemChanged="@((ISeriesComponentFormModel component) =>
                            this.OpenSeriesComponentForm(component))"
                        HeaderClass="no-header"
                        SortMode="@SortMode.None"
                        RowClass="component-row"
                        Filterable="false"
                        Groupable="false"
                        Dense="true"
                        Hover="true"
                        Class="components-grid"
                    >
                        <Columns>
                            <PropertyColumn Property="@(c => c.Title)" />
                            <PropertyColumn Property="@(c => c.Years)" />

                            @if (this.FormModel.Components.Count > 1)
                            {
                                <TemplateColumn>
                                    <CellTemplate>
                                        <MudMenu
                                            Icon="@Icons.Material.Filled.MoreVert"
                                            Size="Size.Small"
                                            aria-label="@this.Loc["AriaLabel.More"]"
                                        >
                                            @if (this.CanMoveUp(context.Item))
                                            {
                                                <MudMenuItem
                                                    Icon="@Icons.Material.Filled.KeyboardArrowUp"
                                                    @onclick="@(() => this.MoveUp(context.Item))"
                                                >
                                                    @this.Loc["SeriesForm.Component.Up"]
                                                </MudMenuItem>
                                            }

                                            @if (this.CanMoveDown(context.Item))
                                            {
                                                <MudMenuItem
                                                    Icon="@Icons.Material.Filled.KeyboardArrowDown"
                                                    @onclick="@(() => this.MoveDown(context.Item))"
                                                >
                                                    @this.Loc["SeriesForm.Component.Down"]
                                                </MudMenuItem>
                                            }
                                        </MudMenu>
                                    </CellTemplate>
                                </TemplateColumn>
                            }
                        </Columns>
                    </MudDataGrid>

                    <div>
                        <div class="add-components">
                            <MudButton
                                Color="Color.Default"
                                Variant="Variant.Text"
                                Size="Size.Small"
                                @onclick="@this.AddSeason"
                            >
                                @this.Loc["SeriesForm.AddSeason"]
                            </MudButton>

                            <MudButton
                                Color="Color.Default"
                                Variant="Variant.Text"
                                Size="Size.Small"
                                @onclick="@this.AddSpecialEpisode"
                            >
                                @this.Loc["SeriesForm.AddSpecialEpisode"]
                            </MudButton>
                        </div>

                        <ErrorPresenter ErrorCode="Series.Seasons.*" />
                    </div>

                    <div>
                        <MudTextField
                            @bind-Value="@this.FormModel.ImdbId"
                            Label="@this.Loc["SeriesForm.ImdbId"]"
                            AutoGrow="true"
                            Class="form-field"
                        />

                        <ErrorPresenter ErrorCode="Series.ImdbId.*" Trigger="@this.FormModel.ImdbId" />
                    </div>

                    <div>
                        <MudTextField
                            @bind-Value="@this.FormModel.RottenTomatoesId"
                            Label="@this.Loc["SeriesForm.RottenTomatoesId"]"
                            AutoGrow="true"
                            Class="form-field"
                        />

                        <ErrorPresenter
                            ErrorCode="Series.RottenTomatoesId.*"
                            Trigger="@this.FormModel.RottenTomatoesId"
                        />
                    </div>

                    @if (!(this.FormModel.IsNew || this.FormModel.HasChanges))
                    {
                        <div class="go-to-franchise-container">
                            @if (this.FormModel.ParentFranchiseId is not null)
                            {
                                <MudButton
                                    Variant="Variant.Text"
                                    Size="Size.Small"
                                    @onclick="@this.GoToParentFranchise"
                                >
                                    @this.Loc["SeriesForm.GoToFranchise"]
                                </MudButton>
                            } else
                            {
                                <MudButton
                                    Variant="Variant.Text"
                                    Size="Size.Small"
                                    @onclick="@this.StartAddingParentFranchise"
                                >
                                    @this.Loc["SeriesForm.StartFranchise"]
                                </MudButton>
                            }
                        </div>

                        <PosterActions
                            State="this.State.Value"
                            OpenPosterDialog="this.OpenPosterDialog"
                            SetPoster="this.SetPoster"
                            RemovePoster="this.RemovePoster"
                            CanRemovePoster="this.FormModel.BackingModel?.PosterUrl is not null"
                            SetPosterText="SeriesForm.SetPoster"
                            RemovePosterText="SeriesForm.RemovePoster"
                        />
                    }

                    @if (!this.FormModel.IsNew)
                    {
                        <div class="remove-container">
                            <MudButton
                                Variant="Variant.Filled"
                                Color="Color.Secondary"
                                Disabled="@this.State.Value.Remove.IsInProgress"
                                @onclick="@this.Remove"
                            >
                                @this.Loc[this.State.Value.Remove.IsInProgress ? "Button.Remove.Busy" : "Button.Remove"]
                            </MudButton>
                        </div>
                    }
                </div>

                @if (this.State.Value.Add.Problem is not null)
                {
                    <ApiProblemAlert
                        Problem="@this.State.Value.Add.Problem"
                        Text="SeriesForm.Problem.AddingFailed"
                        TryAgain="@this.OnSave"
                        Class="problem-alert"
                    />
                }

                @if (this.State.Value.Update.Problem is not null)
                {
                    <ApiProblemAlert
                        Problem="@this.State.Value.Update.Problem"
                        Text="SeriesForm.Problem.UpdatingFailed"
                        TryAgain="@this.OnSave"
                        Class="problem-alert"
                    />
                }

                @if (this.State.Value.Remove.Problem is not null)
                {
                    <ApiProblemAlert
                        Problem="@this.State.Value.Remove.Problem"
                        Text="SeriesForm.Problem.RemovingFailed"
                        TryAgain="this.Remove"
                        Class="problem-alert"
                    />
                }

                <div class="@($"form-actions{(this.FormModel.HasChanges ? "" : " hidden")}")">
                    <MudButton
                        Color="Color.Primary"
                        Variant="Variant.Filled"
                        Disabled="@this.IsSaving"
                        @onclick="@this.OnSave"
                    >
                        @this.Loc[this.IsSaving ? "Button.Save.Busy" : "Button.Save"]
                    </MudButton>

                    <MudButton
                        Color="Color.Surface"
                        Variant="Variant.Filled"
                        Disabled="@this.IsSaving"
                        @onclick="@this.OnCancel"
                    >
                        @this.Loc["Button.Cancel"]
                    </MudButton>
                </div>
            </div>
        }
    </div>
</FormParamsProvider>
