@inherits CineasteComponent

<div>
    <FluentDialog
        @ref="this.dialog"
        Modal="true"
        TrapFocus="true"
        Class="confirmation-dialog"
        @ondialogdismiss="@this.OnDialogDismiss"
        aria-label="@this.Loc[this.Title]"
    >
        <h2 class="title">@this.Loc[this.Title]</h2>
        <FluentDivider />

        <p class="body">@this.Loc[this.Body]</p>

        <div class="action-panel">
            <FluentButton Appearance="Appearance.Accent" Autofocus="true" @onclick="this.OnConfirm">
                @this.Loc["Confirmation.Confirm"]
            </FluentButton>
            <FluentButton Appearance="Appearance.Neutral" @onclick="this.OnCancel">
                @this.Loc["Confirmation.Cancel"]
            </FluentButton>
        </div>
    </FluentDialog>
</div>

@code {
    private FluentDialog? dialog;
    private TaskCompletionSource<bool?>? taskCompletionSource;

    [Parameter]
    public required string Title { get; set; }

    [Parameter]
    public required string Body { get; set; }

    public Task<bool?> RequestConfirmation()
    {
        if (this.dialog is null)
        {
            return Task.FromResult<bool?>(null);
        }

        this.taskCompletionSource = new();
        this.dialog?.Show();

        return taskCompletionSource.Task;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            this.dialog?.Hide();
        }
    }

    private void OnConfirm()
    {
        this.dialog?.Hide();
        this.CompleteConfirmation(true);
    }

    private void OnCancel()
    {
        this.dialog?.Hide();
        this.CompleteConfirmation(false);
    }

    private void OnDialogDismiss(DialogEventArgs e)
    {
        this.dialog?.Hide();
        this.CompleteConfirmation(null);
    }

    private void CompleteConfirmation(bool? result) =>
        this.taskCompletionSource?.SetResult(result);
}
