@page "/login"

@inject SignInManager<CineasteUser> SignInManager
@inject IStringLocalizer<Resources> Loc
@inject IPageNavigator PageNavigator

<div class="container">
    <h1 class="title">Log In to Cineaste</h1>

    @if (!String.IsNullOrEmpty(this.errorMessage))
    {
        <MudAlert Severity="Severity.Error" NoIcon="true">@this.errorMessage</MudAlert>
    }

    <EditForm
        FormName="login"
        Model="this.Model"
        OnValidSubmit="this.OnLogin"
        id="login-form"
        method="post"
        class="login-form"
    >
        <MudStaticTextField
            For="@(() => this.Model.Email)"
            @bind-Value="this.Model.Email"
            Label="@this.Loc["LoginPage.Email"]"
            InputType="InputType.Email"
            Required="true"
            autocomplete="username"
        />

        <MudStaticTextField
            For="@(() => this.Model.Password)"
            @bind-Value="this.Model.Password"
            Label="@this.Loc["LoginPage.Password"]"
            InputType="InputType.Password"
            Required="true"
            Adornment="Adornment.End"
            AdornmentIcon="@Icons.Material.Filled.Visibility"
            AdornmentClickFunction="showPassword"
            AdornmentAriaLabel="@this.Loc["LoginPage.ShowPassword"]"
            autocomplete="current-password"
        />

        <MudStaticCheckBox
            For="@(() => this.Model.RememberUser)"
            @bind-Value="this.Model.RememberUser"
            Color="Color.Primary"
        >
            @this.Loc["LoginPage.RememberMe"]
        </MudStaticCheckBox>
    </EditForm>

    <div class="actions">
        <MudStaticButton
            Color="Color.Primary"
            Variant="Variant.Filled"
            FormAction="FormAction.Submit"
            form="login-form"
        >
            @this.Loc["LoginPage.LogIn"]
        </MudStaticButton>

        <MudButton
            Href="@this.PageNavigator.GetPageUrl(CineastePage.Landing)"
            Color="Color.Surface"
            Variant="Variant.Text"
        >
            @this.Loc["LoginPage.BackToLandingPage"]
        </MudButton>
    </div>

    <div class="hidden" aria-hidden="true">
        <MudIcon Icon="@Icons.Material.Filled.Visibility" id="icon-visibility-on" aria-hidden="true" />
        <MudIcon Icon="@Icons.Material.Filled.VisibilityOff" id="icon-visibility-off" aria-hidden="true" />
    </div>
</div>

<script>
   function findButton(element) {
       return !element || element.tagName?.toLowerCase() === 'button'
           ? element
           : findButton(element.parentElement);
   }

   function showPassword(inputElement, clickedElement) {
       const button = findButton(clickedElement);

       if (inputElement.type === 'password') {
           inputElement.type = 'text';

           const icon = document.getElementById('icon-visibility-off');
           if (icon && button) {
               button.innerHTML = icon.outerHTML;
           }
       } else {
           inputElement.type = 'password';

           const icon = document.getElementById('icon-visibility-on');
           if (icon && button) {
               button.innerHTML = icon.outerHTML;
           }
       }
   }
</script>

@code {
    [CascadingParameter]
    public required HttpContext HttpContext { get; set; }

    [SupplyParameterFromForm]
    private LoginModel Model { get; set; } = new();

    [SupplyParameterFromQuery]
    private string? ReturnUrl { get; set; }

    private string? errorMessage;

    public async Task OnLogin()
    {
        var result = await this.SignInManager.PasswordSignInAsync(
            this.Model.Email, this.Model.Password, this.Model.RememberUser, lockoutOnFailure: false);

        if (result.Succeeded)
        {
            this.PageNavigator.GoToPage(this.ReturnUrl);
        } else
        {
            this.errorMessage = this.Loc["LoginPage.InvalidLoginAttempt"];
        }
    }

    private sealed class LoginModel
    {
        public string Email { get; set; } = String.Empty;
        public string Password { get; set; } = String.Empty;
        public bool RememberUser { get; set; } = false;
    }
}
