@inherits StatefulComponent<ListPageState>

<div class="container">
    <div class="nav-menu-container">
        <ListNavMenu />
    </div>

    <div class="list-container">
        <ListComponent />
    </div>

    <div class="sidebar-container list-sidebar">
        @if (this.State.Value.IsLoaded && this.State.Value.Problem is null)
        {
            @switch (this.State.Value.SelectionMode)
            {
                case ListPageSelectionMode.None:
                    <ListActionsPanel />
                    break;
                case ListPageSelectionMode.Movie:
                    <MovieForm
                        ListItem="@this.State.Value.SelectedItem"
                        AvailableKinds="@this.State.Value.AvailableMovieKinds"
                    />
                    break;
                case ListPageSelectionMode.Series:
                    <SeriesForm
                        ListItem="@this.State.Value.SelectedItem"
                        ListConfiguration="@this.State.Value.ListConfiguration"
                        AvailableKinds="@this.State.Value.AvailableSeriesKinds"
                    />
                    break;
                case ListPageSelectionMode.Franchise:
                    <FranchiseForm
                        ListItem="@this.State.Value.SelectedItem"
                        AvailableMovieKinds="@this.State.Value.AvailableMovieKinds"
                        AvailableSeriesKinds="@this.State.Value.AvailableSeriesKinds"
                    />
                    break;
            }
        }
    </div>
</div>
