@inherits FluentComponentBase

<CascadingValue Value="this.Expanded" Name="@nameof(NavMenuLink.NavMenuExpanded)">
    <nav>
        <FluentListbox TOption="int" Class="@this.ClassValue" Style="@this.StyleValue">
            @if (this.Collapsible)
            {
                <FluentButton Appearance="Appearance.Lightweight" Class="navmenu-main-button"
                          @onclick="this.OnExpandedToggle">
                    <FluentIcon Name="@FluentIcons.Navigation" Size="IconSize.Size20" />
                </FluentButton>
            }

            @this.ChildContent
        </FluentListbox>
    </nav>
</CascadingValue>
